<div class="da-content-banner">
  <d-breadcrumb>
    <d-breadcrumb-item>
      <a routerLink="/">
        Home
      </a>
    </d-breadcrumb-item>
    <d-breadcrumb-item>
      Gestion des Missions
    </d-breadcrumb-item>
    <d-breadcrumb-item>
      Liste des Missions
    </d-breadcrumb-item>
  </d-breadcrumb>
    <div class="da-content-banner-title">
    Missions
  </div>
  <button
  style="
  position: relative;
  left: 90px;
  border-color: orange;
  color: papayawhip;
  width: 77px;
  background: orange;
  padding-left: 5px;
  border-radius: 4px;
  bottom: 41px;"
  (click)="RefreshList()">
    <span>
      Actualisé
    </span>
  </button>
  <!-- you car write destion here  <div>description</div>-->
</div>

<div *ngIf="!accepteMission" class="da-content-wrapper">
  <da-layout-row [daGutter]="[24, 24]">
    <da-col-item [daSpan]="24" [daXs]="24">
      <div class="da-advance-form" dLoading [loading]="busy">
        <div class="da-advace-form-content">
          <d-data-table #dataTable [dataSource]="listData" [scrollable]="true" [tableWidthConfig]="tableWidthConfig">
            <thead dTableHead>
              <tr dTableRow>
                <th dHeadCell>Objet de mission</th>
                <th dHeadCell>Message</th>
                <th dHeadCell>Début</th>
                <th dHeadCell>Fin</th>
                <th dHeadCell>Ouvrier</th>
                <th dHeadCell>initiateur</th>
                <th dHeadCell>Statut</th>
                <th dHeadCell>Adresse</th>
                <th dHeadCell>Initier le</th>
                <th dHeadCell>Actions</th>
              </tr>
            </thead>
            <tbody dTableBody>
              <ng-template let-rowItem="rowItem" let-rowIndex="rowIndex">
                <tr dTableRow *ngIf="rowIndex === 0">
                  <td dTableCell [attr.colspan]="tableWidthConfig.length">
                    <div
                      *ngIf="!headerNewForm"
                      (click)="newRow()"
                      class="cursor-pointer"
                    >
                      <span class="tips-icon icon-add"></span>
                      <span style="margin-left: 10px">Ajouter une misssion</span>
                    </div>

                    <div *ngIf="headerNewForm" class="edit-padding-fix">
                      <da-adduser-form
                        [formConfig]="formConfig"
                        [formData]="defaultRowData"
                        [typeform]="typeformulaire"
                         class="editable-row"
                         (responseBack) ="Actualise($event)"
                        (submitted)="quickRowAdded($event)"
                        (canceled)="quickRowCancel()"
                      ></da-adduser-form>
                    </div>
                  </td>
                </tr>
                <tr dTableRow>
                  <td
                    dTableCell
                    [editable]="false"
                    [editableTip]="editableTip"
                    [(editing)]="rowItem['idEdit']"
                    [rowItem]="rowItem"
                    [field]="'id'"
                    [beforeEditStart]="beforeEditStart"
                    [beforeEditEnd]="beforeEditEnd"
                  >
                    <span *ngIf="!rowItem['idEdit']">{{ rowItem?.motif}}</span>
                    <div *ngIf="rowItem['idEdit']" class="edit-padding-fix">
                      <input
                        class="devui-form-control"
                        name="id"
                        [(ngModel)]="rowItem.id"
                        [attr.maxlength]="100"
                        [attr.minlength]="3"
                      />
                    </div>
                  </td>
                  <td
                  dTableCell
                  [editable]="false"
                  [editableTip]="editableTip"
                  [(editing)]="rowItem['idEdit']"
                  [rowItem]="rowItem"
                  [field]="'id'"
                  [beforeEditStart]="beforeEditStart"
                  [beforeEditEnd]="beforeEditEnd"
                >
                  <span *ngIf="!rowItem['idEdit']">{{ rowItem?.information}}</span>
                  <div *ngIf="rowItem['idEdit']" class="edit-padding-fix">
                    <input
                      class="devui-form-control"
                      name="id"
                      [(ngModel)]="rowItem.id"
                      [attr.maxlength]="100"
                      [attr.minlength]="3"
                    />
                  </div>
                </td>
                  <td
                    dTableCell
                    [editable]="false"
                    [editableTip]="editableTip"
                    [(editing)]="rowItem['titleEdit']"
                    [rowItem]="rowItem"
                    [field]="'title'"
                    [beforeEditStart]="beforeEditStart"
                    [beforeEditEnd]="beforeEditEnd"
                  >
                    <span *ngIf="!rowItem['titleEdit']">
                      {{ rowItem?.datedebutmission}}</span>
                    <div *ngIf="rowItem['titleEdit']" class="edit-padding-fix">
                      <input
                        class="devui-form-control"
                        name="title"
                        [(ngModel)]="rowItem.mail"
                        [attr.maxlength]="100"
                        [attr.minlength]="3"
                      />
                    </div>
                  </td>

                  <td
                    dTableCell
                    [editable]="false"
                    [editableTip]="editableTip"
                    [(editing)]="rowItem['titleEdit']"
                    [rowItem]="rowItem"
                    [field]="'title'"
                    [beforeEditStart]="beforeEditStart"
                    [beforeEditEnd]="beforeEditEnd"
                  >
                    <span *ngIf="!rowItem['titleEdit']">
                      {{ rowItem?.datefinmission}}</span>
                    <div *ngIf="rowItem['titleEdit']" class="edit-padding-fix">
                      <input
                        class="devui-form-control"
                        name="title"
                        [(ngModel)]="rowItem.datefinmission"
                        [attr.maxlength]="100"
                        [attr.minlength]="3"
                      />
                    </div>
                  </td>

                  <td
                    dTableCell
                    [editable]="false"
                    [editableTip]="editableTip"
                    [(editing)]="rowItem['iterationEdit']"
                    [rowItem]="rowItem"
                    [field]="'iteration'"
                    [beforeEditStart]="beforeEditStart"
                    [beforeEditEnd]="beforeEditEnd"
                  >
                    <span *ngIf="!rowItem['iterationEdit']">
                      <d-avatar
                      [name]="rowItem.ouvriernom"
                      [width]="24"
                      [height]="24"
                    ></d-avatar>
                      {{
                      rowItem?.ouvriernom
                    }}</span>
                    <div
                      *ngIf="rowItem['iterationEdit']"
                      class="edit-padding-fix"
                    >
                      <input
                        dTextInput
                        size="sm"
                        [(ngModel)]="rowItem.iteration"
                      />
                    </div>
                  </td>
                  <td
                  dTableCell
                  [editable]="false"
                  [editableTip]="editableTip"
                  [(editing)]="rowItem['iterationEdit']"
                  [rowItem]="rowItem"
                  [field]="'iteration'"
                  [beforeEditStart]="beforeEditStart"
                  [beforeEditEnd]="beforeEditEnd"
                >
                  <span *ngIf="!rowItem['iterationEdit']">
                    <d-avatar
                    [name]="rowItem.clientnom"
                    [width]="24"
                    [height]="24"
                  ></d-avatar>
                  {{
                    rowItem?.clientnom
                  }}</span>
                  <div
                    *ngIf="rowItem['iterationEdit']"
                    class="edit-padding-fix"
                  >
                    <input
                      dTextInput
                      size="sm"
                      [(ngModel)]="rowItem.iteration"
                    />
                  </div>
                </td>
                <td
                dTableCell
                [editable]="false"
                [editableTip]="editableTip"
                [(editing)]="rowItem['iterationEdit']"
                [rowItem]="rowItem"
                [field]="'iteration'"
                [beforeEditStart]="beforeEditStart"
                [beforeEditEnd]="beforeEditEnd"
               >
                <span  *ngIf="!rowItem['iterationEdit']">
                  <d-tag
                  style="width: 64.5px;"
                  [customColor]="rowItem?.priority"
                  [tag]="rowItem?.state"
                  >
                </d-tag>
                </span>
                <div
                  *ngIf="rowItem['iterationEdit']"
                  class="edit-padding-fix"
                >
                  <input
                    dTextInput
                    size="sm"
                    [(ngModel)]="rowItem.iteration"
                  />
                </div>
              </td>

                  <td
                    dTableCell
                    [editable]="false"
                    [editableTip]="editableTip"
                    [(editing)]="rowItem['iterationEdit']"
                    [rowItem]="rowItem"
                    [field]="'iteration'"
                    [beforeEditStart]="beforeEditStart"
                    [beforeEditEnd]="beforeEditEnd"
                  >
                    <span *ngIf="!rowItem['iterationEdit']">
                      {{
                      rowItem?.adresse
                    }}</span>
                    <div
                      *ngIf="rowItem['iterationEdit']"
                      class="edit-padding-fix"
                    >
                      <input
                        dTextInput
                        size="sm"
                        [(ngModel)]="rowItem.iteration"
                      />
                    </div>
                  </td>
                  <td
                    style="padding: 11px 17px 9px;"
                    dTableCell
                    [editable]="false"
                    [editableTip]="editableTip"
                    [(editing)]="rowItem['statusEdit']"
                    [rowItem]="rowItem"
                    [field]="'status'"
                    [beforeEditStart]="beforeEditStart"
                    [beforeEditEnd]="beforeEditEnd"
                  >
                    <span  *ngIf="!rowItem['statusEdit']">
                      <span>{{rowItem?.createdat}}</span>
                    </span>
                    <div *ngIf="rowItem['statusEdit']" class="edit-padding-fix">
                      <d-select
                        name="status"
                        [(ngModel)]="rowItem.status"
                        [options]="['Stuck', 'Done', 'Working on it']"
                      ></d-select>
                    </div>
                  </td>

                  <td>
                    <span *ngIf="rowItem.state=='initier'">
                       <button  (click)="openView(rowItem,'accepter','en cours')"    style="background: rgb(21, 189, 97); color:rgb(255, 255, 255); width:110px; border-radius: var(--devui-border-radius, 2px);"   >
                        Accepter la mission
                       </button>
                    </span>
                    <span *ngIf="rowItem.state=='accepter'">
                      <button  (click)="Alert(rowItem,'en cours')"    style="background: rgb(21, 167, 189); color:rgb(255, 255, 255); width:110px; border-radius: var(--devui-border-radius, 2px);"   >
                       Debuter la mission
                      </button>
                   </span>

                   <span *ngIf="rowItem.state=='en cours'">
                    <button  (click)="Alert(rowItem,'terminer')"    style="background: rgb(129, 161, 12); color:rgb(255, 255, 255); width:110px; border-radius: var(--devui-border-radius, 2px);"   >
                     Terminer la mission
                    </button>
                  </span>
                  <span *ngIf="rowItem.state=='terminer'" >
                    <button    style="background: rgb(4, 56, 48); color:rgb(255, 255, 255); width:110px; border-radius: var(--devui-border-radius, 2px);"   >
                      Mission terminée
                    </button>
                  </span>
                    <d-button
                      icon="icon-delete"
                      bsStyle="text-dark"
                      title="delete"
                      (click)="deleteRow(rowIndex)"></d-button>
                  </td>
                </tr>
              </ng-template>
            </tbody>
          </d-data-table>
        </div>
        <d-pagination
          [size]="'sm'"
          [total]="pager.total"
          [(pageSize)]="pager.pageSize"
          [(pageIndex)]="pager.pageIndex"
          [canViewTotal]="true"
          [canChangePageSize]="true"
          [canJumpPage]="true"
          [maxItems]="5"
          (pageIndexChange)="onPageChange($event)"
          (pageSizeChange)="onSizeChange($event)"
        >
        </d-pagination>
      </div>
    </da-col-item>
  </da-layout-row>
</div>


<div *ngIf="accepteMission" class="da-content-wrapper">
  <da-layout-row [daGutter]="[24, 24]">
    <da-col-item [daSpan]="24" [daXs]="24">
      <div class="da-basic-form">
        <form
          dForm
          ngForm
          [dValidateRules]="{
            message: 'Ajout echoué, verifier si vous avez entrer toutes les valeurs'
          }"
          [layout]="verticalLayout"
          #projectForm="dValidateRules"
          (dSubmit)="submitProjectForm($event)"
          autocomplete="off">

          <d-form-item>
            <d-form-label [required]="true" [hasHelp]="true" [helpTips]="'Le nom du client qui a fait la demande.'">Client</d-form-label>
            <d-form-control>
              <input
                dTextInput
                autocomplete="off"
                name="client"
                [(ngModel)]="client"
                [dValidateRules]="{
                  validators: [{ required: true }],
                  asyncValidators: [
                    {
                      sameName: this.checkName.bind(this),
                      message: 'Duplicate name.'
                    }
                  ]
                }"
              />
            </d-form-control>
          </d-form-item>

          <d-form-item>
            <d-form-label [required]="true" [hasHelp]="true" [helpTips]="'Celui qui doit faire la mission'">Ouvrier</d-form-label>
            <d-form-control>
              <d-select
                [options]="OuvrierOptions"
                [(ngModel)]="ouvrier"
                [name]="'ouvrier'"
                [placeholder]="'Selectionnez un ouvrier'"
                [filterKey]="'nomprenom'"
                [allowClear]="true"
                [dValidateRules]="[{ required: true }]"
              ></d-select>
            </d-form-control>
            <div *ngIf="OuvrierOptions.length == 0" style="color:red" >
              Pas d'ouvrier libre
            </div>
          </d-form-item>

          <d-form-item>
            <d-form-label [required]="true" [hasHelp]="true" [helpTips]="'Date de debut de la mission, cette date ne doit pas etre modifier'">Date debut de la mission</d-form-label>
            <d-form-control>
              <div class="devui-input-group devui-dropdown-origin">
                <input
                  class="devui-input devui-form-control"
                  placeholder="y/MM/dd"
                  (click)="datePicker1.toggle()"
                  name="datebegin"
                  [(ngModel)]="datebegin"
                  autocomplete="off"
                  dDatepicker
                  [minDate]="datebegin"
                  appendToBody
                  #datePicker1="datepicker"
                  [dValidateRules]="[{ required: true }]">
                <div class="devui-input-group-addon close-icon-wrapper" (click)="datePicker1.clearAll()">
                  <i class="icon icon-close"></i>
                </div>
                <div class="devui-input-group-addon" (click)="datePicker1.toggle()">
                  <i class="icon icon-calendar"></i>
                </div>
              </div>


            </d-form-control>
          </d-form-item>

          <d-form-item>
            <d-form-label [required]="true" [hasHelp]="true" [helpTips]="'Ajouter la date de fin de la mission'">Date fin de la mission</d-form-label>
            <d-form-control>
              <div class="devui-input-group devui-dropdown-origin">
                <input
                  class="devui-input devui-form-control"
                  placeholder="dd/MM/y"
                  (click)="datePicker2.toggle()"
                  name="datefin"
                  [minDate]="datebegin"
                  [(ngModel)]="datefin"
                  locale="fr-fra"
                  autocomplete="off"
                  dDatepicker
                  appendToBody
                  #datePicker2="datepicker"
                  [dValidateRules]="[{ required: true }]">
                <div class="devui-input-group-addon close-icon-wrapper" (click)="datePicker2.clearAll()">
                  <i class="icon icon-close"></i>
                </div>
                <div class="devui-input-group-addon" (click)="datePicker2.toggle()">
                  <i class="icon icon-calendar"></i>
                </div>
              </div>
            </d-form-control>
          </d-form-item>
          <d-form-operation   style="
          position: absolute;
          bottom: 20px;
          left: 33%;
          ">
          <button
          class="mr-element-spacing"
          circled="true"
          (click)="Retour()"
          style="margin-right: 8px; background-color:#009688; color:white; width: 97px;border-radius: var(--devui-border-radius, 2px);">
          Retour
        </button>
            <d-button
              dLoading
              class="mr-element-spacing"
              [title]="projectForm.errorMessage || ''"
              circled="true"
              style="margin-right: 8px"
              [showLoading]="projectForm.pending"
              dFormSubmit
              [dFormSubmitData]="'submit-button'"
            >
              Enregister
            </d-button>
          </d-form-operation>
        </form>
      </div>
    </da-col-item>
  </da-layout-row>
</div>
