<div
  class="da-login"
  style="background-image: url('assets/img/background/img_log.png'); background-repeat: no-repeat; background-position: center"
>
  <div class="da-login-form"  style="margin-top: 10%; margin-bottom: 5%; width: 40%;">
    <div class="da-login-logo-wrapper" style="margin-bottom: -15%;" >
      <div class="da-login-logo">
        <span class="da-logo-devui">
          <img src="assets/llogo.png" alt="DevUI-Logo" />
        </span>
        <span class="da-text"  style="color:#07539e">Itm Admin</span>
      </div>
    </div>

    <div *ngIf="forgetpass==true&&verificatemail==false&&verificatecode==false"   class="da-login-ways">
      <div>

        <div class="form-group">
          <div style="color:red; font-weight:800; margin-left: -19px;">{{message}}</div>
          <label for="fname">Entrez votre adresse email pour verification</label>
          <input  type="email" [(ngModel)]="email" name="email" placeholder="Ton Email..">
        </div>
        <button  (click)="VerificateMail()">Verifier</button>
        <button  class="retour" (click)="RetourLogin()">Retour</button>

      </div>
    </div>

    <div *ngIf="forgetpass==true&&verificatemail==true"   class="da-login-ways">
      <div>
        <div class="form-group">
          <div style="color:red; font-weight:800; margin-left: -19px;">{{message}}</div>

          <label for="fname">Entrez le code reçu par email</label>
          <input  type="email" [(ngModel)]="code" name="code" placeholder="Code..">
        </div>
        <button  (click)="VerificateCode()">Confirmer</button>
        <button  class="retour" (click)="Retour()">Retour</button>
      </div>
    </div>

    <div *ngIf="forgetpass==true&&verificatecode==true"   class="da-login-ways">
      <div>
        <div style="margin-bottom: -37px;" class="form-group">
          <div style="color:red; font-weight:800; margin-left: -19px;">{{message}}</div>
          <label for="fname">Nouveau mot de passe</label>
          <input  type="email" [(ngModel)]="pass1" name="pass1" placeholder="Mot de passe">
        </div>
        <div class="form-group">
          <label for="fname">Confirmer le nouveau mot de passe</label>
          <input  type="email" [(ngModel)]="pass2" name="pass1" placeholder="Mot de passe">
        </div>
        <button  (click)="VerificatePasse()">Enregistrer</button>
        <button  class="retour" (click)="Retour()">Retour</button>

      </div>
    </div>
  </div>
</div>




